
@{
    ViewBag.Title = "MyCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyCalendar</h2>


<h2>
    Inspriation: 
    http://www.learningjquery.com/2015/03/14-top-calendar-and-date-picker-jquery-plugins</h2>
