@{
    ViewBag.Title = "Home Page";
}

<div class="center-block">

<div class="row">

    <div class="col-md-4 margin-top-20 col-md-offset-4">
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-large btn-block">
            Log på her
      <span class="glyphicon glyphicon-hand-up"></span>
        </a>
    </div>

</div>
</div>