@{
    ViewBag.Title = "Home Page";

}
@using Røde_Kors.Extensions
<div class="center-block">



    @{ 

    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <h2> Hello @User.Identity.GetFirstName() </h2>

            var createdUserMessage = TempData["createdUsermessage"];

            if (TempData["createdUsermessage"] != null)
            {
                <script type="text/javascript">
                    alert('@TempData["createdUsermessage"] ');
                </script>
            }

        }
        else {
<div class="row">

    <div class="col-md-4 margin-top-20 col-md-offset-4">
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-large btn-block">
            Log på her
      <span class="glyphicon glyphicon-hand-up"></span>
        </a>
    </div>

</div>
    }
    }
</div>